#main {
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
}

#canvas {
    border: 1px solid black;
    float: left;
    margin-right: 2em;
}

#right {
}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#controls > div {
    margin-bottom: 0.5em;
}
#controls > div label, #legend label {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 12px;
    margin-right: 0.25em;
    vertical-align: middle;
}
